.DS_Store
.config/fish/fish_variables
*.swp
*.swo
*.bak
.intellimacs/.git
.gitconfig

# Nvim
.config/nvim/tt.*
.config/nvim/.tests
.config/nvim/doc/tags
.config/nvim/debug
.config/nvim/.repro
.config/nvim/foo.*
.config/nvim/data

# OpenCode
.config/opencode/node_modules/
.config/opencode/lib/
.config/opencode/.env*
.config/opencode/bun.lock
.config/opencode/package.json
.config/opencode/antigravity-accounts.json

# Common
*.log
.config/opencode/plugin/confirmo-plugin.ts
.config/opencode/kiro.*

# Pi agent
.pi/.DS_Store
.pi/agent/sessions/
.pi/agent/bin/
.pi/agent/auth.json
.pi/agent/extensions/exa-mcp.json
.pi/agent/extensions/node_modules

# External repos for soft-linking
external/

# PI plans
*plans
*todos
